In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
fraud_df = pd.read_csv('~/data/fraud.csv')

# 탐색적 데이터분석

In [5]:
fraud_df

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,...,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,...,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,...,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,...,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,home,134.26,Rebecca,Erickson,F,594 Berry Lights Apt. 392,Wilmington,...,34.2651,-77.8670,186140,English as a second language teacher,1983-02-08,fc860b0d1f89b0b068c9c8db27b6bcc5,1388534208,34.853497,-78.664158,0
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,Ana,Howell,F,4664 Sanchez Common Suite 930,Bradley,...,34.0326,-82.2027,1523,Research scientist (physical sciences),1984-06-03,0f0c38fe781b317f733b845c0d6ba448,1388534217,35.008839,-81.475156,0
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,Lake Jackson,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,Burbank,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,Edmond,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [6]:
pd.set_option('display.max_columns',50)

In [7]:
fraud_df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,MI,48174,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0

In [8]:
fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   category               491134 non-null  object
 4   amt                    491134 non-null  float64
 5   first                  491134 non-null  object
 6   last                   491134 non-null  object
 7   gender                 491134 non-null  object
 8   street                 491134 non-null  object
 9   city                   491134 non-null  object
 10  state                  491134 non-null  object
 11  zip                    491134 non-null  int64
 12  lat                    491134 non-null  float64
 13  long                   491134 non-null  float64
 14  city_pop               491134 non-null  int64
 15  job                    491134 non-null  object
 16  dob                    491134 non-null  object
 17  trans_num              491134 non-null  object
 18  unix_time              491134 non-null  int64
 19  merch_lat              491134 non-null  float64
 20  merch_long             491134 non-null  float64
 21  is_fraud               491134 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 82.4+ MB

# 결측치 처리

In [9]:
fraud_df.isna().mean()

trans_date_trans_time    0.0
cc_num                   0.0
merchant                 0.0
category                 0.0
amt                      0.0
first                    0.0
last                     0.0
gender                   0.0
street                   0.0
city                     0.0
state                    0.0
zip                      0.0
lat                      0.0
long                     0.0
city_pop                 0.0
job                      0.0
dob                      0.0
trans_num                0.0
unix_time                0.0
merch_lat                0.0
merch_long               0.0
is_fraud                 0.0
dtype: float64

# 이상치 처리

In [10]:
fraud_df.describe()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,4.911340e+05,491134.000000,491134.000000,491134.000000,491134.000000,4.911340e+05,4.911340e+05,491134.000000,491134.000000,491134.000000
mean,3.706013e+17,69.050120,50770.532384,37.931230,-90.495619,1.213922e+05,1.358730e+09,37.930272,-90.495411,0.002533
std,1.260229e+18,160.322867,26854.947965,5.341193,12.990732,3.725751e+05,1.819402e+07,5.372986,13.004100,0.050264
min,5.038744e+11,1.000000,1843.000000,24.655700,-122.345600,4.600000e+01,1.325376e+09,23.655789,-123.345106,0.000000
25%,2.131124e+14,8.960000,28405.000000,33.746700,-97.235100,1.228000e+03,1.343087e+09,33.781388,-96.984814,0.000000
50%,3.531130e+15,42.170000,49628.000000,38.507200,-87.591700,5.760000e+03,1.357257e+09,38.545124,-87.573441,0.000000
75%,4.653879e+15,80.330000,75048.000000,41.520500,-80.731000,5.083500e+04,1.374626e+09,41.624294,-80.685567,0.000000
max,4.956829e+18,25086.940000,99323.000000,48.887800,-69.965600,2.906700e+06,1.388534e+09,49.887523,-68.965624,1.000000

In [11]:
fraud_df['amt'].sort_values()

258861        1.00
254027        1.00
469101        1.00
257652        1.00
172571        1.00
            ...
43412     14630.68
198719    15047.03
410031    16837.08
49446     17897.24
93045     25086.94
Name: amt, Length: 491134, dtype: float64

# 불필요한 컬럼 삭제

In [12]:
drop_col = ['first', 'last', 'street', 'zip', 'trans_num', 'dob']

# 데이터프레임에서 불필요한 컬럼 제거
fraud_df = fraud_df.drop(columns=drop_col)
fraud_df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,state,lat,long,city_pop,job,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,M,Elizabeth,NJ,40.6747,-74.2239,124967,Operational researcher,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,F,Plainfield,NJ,40.6152,-74.4150,71485,Leisure centre manager,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,M,Romulus,MI,42.2203,-83.3583,31515,Police officer,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,F,Baton Rouge,LA,30.4066,-91.1468,378909,"Designer, furniture",1325377421,29.737426,-90.853194,0

# 2개의 피처 생성(위/경도사용, 통계적관점)

In [13]:
# 사용자별 평균 및 표준편차를 계산해 거래 금액의 Z-score 생성
fraud_df['amt_zscore'] = fraud_df.groupby('cc_num')['amt'].transform(lambda x: (x - x.mean()) / x.std())

In [14]:
fraud_df['cc_num_length'] = fraud_df['cc_num'].astype(str).apply(len)
# cc_num 카드번호 수가 달라서 이상치 처리를 할려고 했으나 6종류나 되어서 할수 없음
fraud_df['cc_num_length'].unique()

array([12, 19, 15, 16, 14, 13])

In [15]:
fraud_df

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,state,lat,long,city_pop,job,unix_time,merch_lat,merch_long,is_fraud,amt_zscore,cc_num_length
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1325376044,49.159047,-118.186462,0,0.321302,12
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,M,Elizabeth,NJ,40.6747,-74.2239,124967,Operational researcher,1325376754,40.079588,-74.848087,0,-0.114637,19
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,F,Plainfield,NJ,40.6152,-74.4150,71485,Leisure centre manager,1325377036,40.021888,-74.228188,0,-0.361802,15
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,M,Romulus,MI,42.2203,-83.3583,31515,Police officer,1325377215,42.360426,-83.552316,0,-0.001304,15
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,F,Baton Rouge,LA,30.4066,-91.1468,378909,"Designer, furniture",1325377421,29.737426,-90.853194,0,-0.393828,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,home,134.26,F,Wilmington,NC,34.2651,-77.8670,186140,English as a second language teacher,1388534208,34.853497,-78.664158,0,0.360311,16
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,F,Bradley,SC,34.0326,-82.2027,1523,Research scientist (physical sciences),1388534217,35.008839,-81.475156,0,-0.173577,15
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,M,Lake Jackson,TX,29.0393,-95.4401,28739,Futures trader,1388534349,29.661049,-96.186633,0,0.364619,16
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,F,Burbank,WA,46.1966,-118.9017,3684,Musician,1388534355,46.658340,-119.715054,0,-0.015209,16
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,M,Edmond,OK,35.6665,-97.4798,116001,Media buyer,1388534374,36.210097,-97.036372,0,-0.152588,16

In [16]:
fraud_df = fraud_df.drop(columns='cc_num_length')

In [17]:
fraud_df

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,state,lat,long,city_pop,job,unix_time,merch_lat,merch_long,is_fraud,amt_zscore
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1325376044,49.159047,-118.186462,0,0.321302
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,M,Elizabeth,NJ,40.6747,-74.2239,124967,Operational researcher,1325376754,40.079588,-74.848087,0,-0.114637
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,F,Plainfield,NJ,40.6152,-74.4150,71485,Leisure centre manager,1325377036,40.021888,-74.228188,0,-0.361802
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,M,Romulus,MI,42.2203,-83.3583,31515,Police officer,1325377215,42.360426,-83.552316,0,-0.001304
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,F,Baton Rouge,LA,30.4066,-91.1468,378909,"Designer, furniture",1325377421,29.737426,-90.853194,0,-0.393828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,home,134.26,F,Wilmington,NC,34.2651,-77.8670,186140,English as a second language teacher,1388534208,34.853497,-78.664158,0,0.360311
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,F,Bradley,SC,34.0326,-82.2027,1523,Research scientist (physical sciences),1388534217,35.008839,-81.475156,0,-0.173577
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,M,Lake Jackson,TX,29.0393,-95.4401,28739,Futures trader,1388534349,29.661049,-96.186633,0,0.364619
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,F,Burbank,WA,46.1966,-118.9017,3684,Musician,1388534355,46.658340,-119.715054,0,-0.015209
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,M,Edmond,OK,35.6665,-97.4798,116001,Media buyer,1388534374,36.210097,-97.036372,0,-0.152588

In [18]:
from geopy.distance import geodesic

# 카드 소유자와 상점 위치 간 거리 계산
fraud_df['distance'] = fraud_df.apply(lambda x: geodesic((x['lat'], x['long']), (x['merch_lat'], x['merch_long'])).kilometers, axis=1)

# 결과 확인
fraud_df[['lat', 'long', 'merch_lat', 'merch_long', 'distance']].head()

       lat      long  merch_lat  merch_long   distance
0  48.8878 -118.2105  49.159047 -118.186462  30.216618
1  40.6747  -74.2239  40.079588  -74.848087  84.714605
2  40.6152  -74.4150  40.021888  -74.228188  67.768167
3  42.2203  -83.3583  42.360426  -83.552316  22.322745
4  30.4066  -91.1468  29.737426  -90.853194  79.398244

In [19]:
fraud_df

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,state,lat,long,city_pop,job,unix_time,merch_lat,merch_long,is_fraud,amt_zscore,distance
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1325376044,49.159047,-118.186462,0,0.321302,30.216618
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,M,Elizabeth,NJ,40.6747,-74.2239,124967,Operational researcher,1325376754,40.079588,-74.848087,0,-0.114637,84.714605
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,F,Plainfield,NJ,40.6152,-74.4150,71485,Leisure centre manager,1325377036,40.021888,-74.228188,0,-0.361802,67.768167
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,M,Romulus,MI,42.2203,-83.3583,31515,Police officer,1325377215,42.360426,-83.552316,0,-0.001304,22.322745
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,F,Baton Rouge,LA,30.4066,-91.1468,378909,"Designer, furniture",1325377421,29.737426,-90.853194,0,-0.393828,79.398244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,home,134.26,F,Wilmington,NC,34.2651,-77.8670,186140,English as a second language teacher,1388534208,34.853497,-78.664158,0,0.360311,98.043837
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,F,Bradley,SC,34.0326,-82.2027,1523,Research scientist (physical sciences),1388534217,35.008839,-81.475156,0,-0.173577,127.240424
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,M,Lake Jackson,TX,29.0393,-95.4401,28739,Futures trader,1388534349,29.661049,-96.186633,0,0.364619,100.023736
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,F,Burbank,WA,46.1966,-118.9017,3684,Musician,1388534355,46.658340,-119.715054,0,-0.015209,80.887812
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,M,Edmond,OK,35.6665,-97.4798,116001,Media buyer,1388534374,36.210097,-97.036372,0,-0.152588,72.380990

# 인코딩

In [20]:
fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   category               491134 non-null  object
 4   amt                    491134 non-null  float64
 5   gender                 491134 non-null  object
 6   city                   491134 non-null  object
 7   state                  491134 non-null  object
 8   lat                    491134 non-null  float64
 9   long                   491134 non-null  float64
 10  city_pop               491134 non-null  int64
 11  job                    491134 non-null  object
 12  unix_time              491134 non-null  int64
 13  merch_lat              491134 non-null  float64
 14  merch_long             491134 non-null  float64
 15  is_fraud               491134 non-null  int64
 16  amt_zscore             491134 non-null  float64
 17  distance               491134 non-null  float64
dtypes: float64(7), int64(4), object(7)
memory usage: 67.4+ MB

In [21]:
# 삭제할 컬럼 목록
drop_list2 = ['city', 'state', 'job', 'merchant', 'trans_date_trans_time']

# 데이터프레임에서 불필요한 컬럼 제거
fraud_df = fraud_df.drop(columns=drop_list2)

In [22]:
fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   cc_num      491134 non-null  int64
 1   category    491134 non-null  object
 2   amt         491134 non-null  float64
 3   gender      491134 non-null  object
 4   lat         491134 non-null  float64
 5   long        491134 non-null  float64
 6   city_pop    491134 non-null  int64
 7   unix_time   491134 non-null  int64
 8   merch_lat   491134 non-null  float64
 9   merch_long  491134 non-null  float64
 10  is_fraud    491134 non-null  int64
 11  amt_zscore  491134 non-null  float64
 12  distance    491134 non-null  float64
dtypes: float64(7), int64(4), object(2)
memory usage: 48.7+ MB

In [23]:
# category와 gender 컬럼의 고유값 개수 출력
fraud_df[['category', 'gender']].nunique()

category    14
gender       2
dtype: int64

In [24]:
# 원-핫 인코딩할 범주형 변수 지정
encode_col = ['category', 'gender']

# 원-핫 인코딩 수행
fraud_df = pd.get_dummies(fraud_df, columns=encode_col, drop_first=True)

# 결과 확인
fraud_df

,cc_num,amt,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,amt_zscore,distance,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,gender_M
0,630423337322,107.23,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,0,0.321302,30.216618,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,4956828990005111019,44.71,40.6747,-74.2239,124967,1325376754,40.079588,-74.848087,0,-0.114637,84.714605,0,0,0,1,0,0,0,0,0,0,0,0,0,1
2,180048185037117,46.28,40.6152,-74.4150,71485,1325377036,40.021888,-74.228188,0,-0.361802,67.768167,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,374930071163758,64.09,42.2203,-83.3583,31515,1325377215,42.360426,-83.552316,0,-0.001304,22.322745,0,0,0,1,0,0,0,0,0,0,0,0,0,1
4,2712209726293386,25.58,30.4066,-91.1468,378909,1325377421,29.737426,-90.853194,0,-0.393828,79.398244,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,6011109736646996,134.26,34.2651,-77.8670,186140,1388534208,34.853497,-78.664158,0,0.360311,98.043837,0,0,0,0,0,1,0,0,0,0,0,0,0,0
491130,213112402583773,25.49,34.0326,-82.2027,1523,1388534217,35.008839,-81.475156,0,-0.173577,127.240424,0,0,0,0,0,0,0,0,0,0,0,1,0,0
491131,3556613125071656,111.84,29.0393,-95.4401,28739,1388534349,29.661049,-96.186633,0,0.364619,100.023736,0,0,0,0,0,0,1,0,0,0,0,0,0,1
491132,6011724471098086,86.88,46.1966,-118.9017,3684,1388534355,46.658340,-119.715054,0,-0.015209,80.887812,0,0,0,0,0,0,1,0,0,0,0,0,0,0
491133,4170689372027579,38.13,35.6665,-97.4798,116001,1388534374,36.210097,-97.036372,0,-0.152588,72.380990,0,0,0,0,0,0,0,0,0,0,0,0,0,1

# 스케일링

In [25]:
from sklearn.preprocessing import RobustScaler

# RobustScaler 초기화 및 스케일링 적용
scaler = RobustScaler()
fraud_df_scaled = pd.DataFrame(scaler.fit_transform(fraud_df), columns=fraud_df.columns)
fraud_df_scaled

,cc_num,amt,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,amt_zscore,distance,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,gender_M
0,-0.795020,0.911588,1.335331,-1.855224,-0.113109,-1.010845,1.353315,-1.878186,0.0,1.092165,-1.121306,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1115.414982,0.035589,0.278821,0.809968,2.403028,-1.010822,0.195650,0.780733,0.0,0.137562,0.142669,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,-0.754618,0.057587,0.271167,0.798389,1.324914,-1.010813,0.188293,0.818765,0.0,-0.403669,-0.250371,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.710733,0.307132,0.477643,0.256506,0.519181,-1.010807,0.486465,0.246706,0.0,0.385736,-1.304390,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,-0.184410,-0.232451,-1.042039,-0.215407,7.522104,-1.010801,-1.123014,-0.201221,0.0,-0.473799,0.019367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,0.558458,1.290318,-0.545692,0.589229,3.636180,0.991726,-0.470696,0.546607,0.0,1.177586,0.451815,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
491130,-0.747172,-0.233712,-0.575600,0.326525,-0.085411,0.991726,-0.450890,0.374145,0.0,0.008500,1.128974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
491131,0.005738,0.976180,-1.217924,-0.475542,0.463221,0.991730,-1.132753,-0.528441,0.0,1.187020,0.497735,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
491132,0.558596,0.626454,0.989143,-1.897104,-0.041849,0.991730,1.034466,-1.971969,0.0,0.355287,0.053914,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
491133,0.144020,-0.056606,-0.365420,-0.599130,2.222287,0.991731,-0.297725,-0.580575,0.0,0.054461,-0.143385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0